{% extends '__base__.html' %}

{% block title %}评论管理{% endblock %}

{% block beforehead %}

<script>
/*
这里使用了v-pagination组件。由于组件需要获得父组件的page数据，因此需要props和v-bind完成；
另外，子组件需要更改父组件的数据page和comments，但是vue.js规定子组件最好不要直接更改父组件的数据，
Although it’s possible to access any instance in the parent chain, you should avoid directly relying on parent data in a child component and prefer passing data down explicitly using props. In addition, it is a very bad idea to mutate parent state from a child component, because:

It makes the parent and child tightly coupled;

It makes the parent state much harder to reason about when looking at it alone, because its state may be modified by any child! Ideally, only a component itself should be allowed to modify its own state.

因此，选择使用event dispatch来做。
*/
function initVM(data) {
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            comments: data.comments,
            page: data.page
        },
        methods: {
            delete_comment: function (comment) {
                var content = comment.content.length > 20 ? comment.content.substring(0, 20) + '...' : comment.content;
                if (confirm('确认要删除评论“' + comment.content + '”？删除后不可恢复！')) {
                    postJSON('/api/comments/' + comment.id + '/delete', function (err, r) {
                        if (err) {
                            return error(err);
                        }
                        refresh();
                    });
                }
            }
        },
        events: {
            gotoPage: function (index) {
                getJSON('/api/comments', {
                    page: index
                }, function (err, results) {
                    if (err) {
                        return fatal(err);
                    }
                    $('#loading').hide();
                    vm.comments = results.comments;
                    vm.page = results.page;
                });
            }
        }

    });
}
/* 这里的{{ page_index }}实际上是由服务器端通过jinjia2渲染成具体数值（实际是默认值1，首次请求没有参数page_index,使用api_blogs(*, page='1')的默认值），
然后返回给客户端，客户端浏览器运行此段js代码获取页码为page_index这一页的数据results；最后vue.js框架再实现mvvm模型，后续的请求下一页就会有真实的参数了。
*/
$(function() {
    getJSON('/api/comments', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li class="uk-active"><span>评论</span></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1" style="display:none">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-2-10">作者</th>
                    <th class="uk-width-5-10">内容</th>
                    <th class="uk-width-2-10">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="comment in comments" >
                    <td>
                        <span v-text="comment.user_name"></span>
                    </td>
                    <td>
                        <span v-text="comment.content"></span>
                    </td>
                    <td>
                        <span v-text="comment.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a href="#0" v-on="click: delete_comment(comment)"><i class="uk-icon-trash-o"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <v-pagination v-bind:page="page"></v-pagination>
    </div>
{% endblock %}